In [1]:
from pyrosm import OSM
from pyrosm import get_data
import geopandas as gpd

In [4]:
# Initialize the OSM object 
OSM("/Users/user/Downloads/africa.osm.pbf",bounding_box=[8.32,-4.53,29.88,6.20])

In [ ]:
landuse = osm.get_landuse()

In [5]:
osm.conf.tags.available

['aerialway',
 'aeroway',
 'amenity',
 'boundary',
 'building',
 'craft',
 'emergency',
 'geological',
 'highway',
 'historic',
 'landuse',
 'leisure',
 'natural',
 'office',
 'power',
 'public_transport',
 'railway',
 'route',
 'place',
 'shop',
 'tourism',
 'waterway']

In [2]:
gdf = gpd.read_file("/Users/user/Downloads/Congo_Basin_Boundary_no_islands_v5_gridded.geojson")

In [3]:
gdf

,id,left,top,right,bottom,geometry
0,4,7.589316,5.890436,7.889316,5.590436,"MULTIPOLYGON (((7.77444 5.59044, 7.88932 5.720..."
1,5,7.589316,5.590436,7.889316,5.290436,"MULTIPOLYGON (((7.65207 5.29044, 7.58932 5.380..."
2,6,7.589316,5.290436,7.889316,4.990436,"MULTIPOLYGON (((7.86209 4.99044, 7.65207 5.290..."
3,7,7.589316,4.990436,7.889316,4.690436,"MULTIPOLYGON (((7.88932 4.95155, 7.86209 4.990..."
4,49,7.889316,6.190436,8.189316,5.890436,"MULTIPOLYGON (((8.03844 5.89044, 8.18932 6.061..."
...,...,...,...,...,...,...
2398,3426,29.789316,0.490436,30.089316,0.190436,"MULTIPOLYGON (((29.85390 0.49044, 29.78932 0.2..."
2399,3465,30.089316,2.590436,30.389316,2.290436,"MULTIPOLYGON (((30.08932 2.40776, 30.27175 2.3..."
2400,3466,30.089316,2.290436,30.389316,1.990436,"MULTIPOLYGON (((30.26841 2.29044, 30.19933 1.9..."
2401,3467,30.089316,1.990436,30.389316,1.690436,"MULTIPOLYGON (((30.19933 1.99044, 30.13024 1.6..."
2402,3468,30.089316,1.690436,30.389316,1.390436,"MULTIPOLYGON (((30.13024 1.69044, 30.08932 1.5..."

In [ ]:
for row in gdf.iterrows():
    bounding_box = [row[1]["left"],row[1]["top"],row[1]["right"],row[1]["bottom"]]
    print(bounding_box)
    osm = OSM("/Users/user/Downloads/africa.osm.pbf",bounding_box=bounding_box)
    landuse = osm.get_network(network_type="driving")

[7.589316305, 5.890436336, 7.889316305, 5.590436336000001]

In [4]:
bounding_box = [15.881601572,1.4824956522,15.881601572,1.4824956522]

In [5]:
osm = OSM("/Users/user/Downloads/africa.osm.pbf",bounding_box=bounding_box)

In [ ]:
driving = osm.get_network(network_type="driving")

In [1]:
from pyrosm import OSM, get_data
import time

# Initialize (downloads data automatically for New York State)
fp = get_data("new_york")
osm = OSM(fp)

# Parse roads and time it
start_time = time.time()
roads = osm.get_network("driving")
print(f"Parsing roads lasted {round(time.time() - start_time, 0)} seconds.")
print(f"Number of roads parsed: {len(roads)}")

Downloaded Protobuf data 'new-york-latest.osm.pbf' (356.54 MB) to:
'/var/folders/4t/1kx7_bfd5bzdv7swkrfqsc0w0000gn/T/pyrosm/new-york-latest.osm.pbf'
Parsing roads lasted 803.0 seconds.
Number of roads parsed: 930274